<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Alumno</title>
</head>
<body>
    <h1>Aca creamis una nueva serie</h1>

    <form action="/nuevo_alumno" method="post"> {% csrf_token %}

        <p> Nombre: <input type="text" name="nombre"> </p>
        <p> Apellido: <input type="text" name="apellido"> </p>
        <p> Mail: <input type="email" name="mail"> </p>

        <input type="submit" value="Guardar">

    </form>
</body>
</html>